# Firebase build and deployment files
/firebase-debug.log
/firebase-debug.*.log
.firebaserc

# Firebase Hosting
/firebase.json
*.cache
hosting/.cache

# Firebase Functions
/functions/node_modules/
/functions/.env
/functions/package-lock.json

# Firebase Emulators
/firebase-*.zip
/.firebase/
/emulator-ui/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files (local configs)
.env
server/.env
server/.env


APIK=AIzaSyBA_z5tAAHl9D7eL_stIqqNMRl0ysctVNU
MSID=978157145324
AID=1:978157145324:web:e16575b4681ae44d0729c9
MESUREID=G-YD6LQRXT16